# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments & Virtual Envs
.env
.venv
env/
venv/
ENV/

# Node.js
node_modules/
npm-debug.log*

# Algorand Specific
*.block
*.log
.algokit/
